Microservice_GetEstimate_WCF/Microservice_GetEstimate_WCF/Connected Services/GetTaxes/GetTaxes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chandra/GetTaxes/GetTaxes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" />
  <xs:element name="GetSOCTaxes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" minOccurs="0" name="taxRequest" nillable="true" type="q1:TaxRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSOCTaxesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" minOccurs="0" name="GetSOCTaxesResult" nillable="true" type="q2:TaxResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>