Microservice_GetEstimate_WCF/Microservice_GetEstimate_WCF/Connected Services/GetTaxes/GetTaxes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaxRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxRequest" nillable="true" type="tns:TaxRequest" />
  <xs:complexType name="ArrayOfProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductInfo" nillable="true" type="tns:ProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductInfo" nillable="true" type="tns:ArrayOfProductInfo" />
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductIOSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
  <xs:complexType name="TaxResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstBillTaxes" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyTaxes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxResponse" nillable="true" type="tns:TaxResponse" />
</xs:schema>